<%= simple_form_for @part, url: customer_parts_path(@customer) do |f| %>
<table>
  <tr><%= f.input :name, label: 'Name' %></tr>
  <tr><%= f.input :description, label: 'Description' %></tr>
</table>
<table>
  <td><%= f.input :price, label: 'Price' %></td>
</table>
<%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
