<table class="table-striped col-xs-12">
  <tr>
    <th><b>Name</b></th>
    <th><b>Description</b></th>
    <th><b>Procedure</b></th>
    <th><b>Price</b></th>
    <th><b>Customer</b></th>
    <th>
    <th>
  </tr>
  <% @part.each do |part| %>
  <tr>
    <td><%= part.name %></td>
    <td><%= part.description %></td>
    <td><%= part.procedure.name %></td>
    <td><%= part.price %></td>
    <td><%= part.customer.name %></td>
    <td><%= link_to 'More Info', part_path(part), class: 'btn btn-primary btn-md' %></td>

  </tr>
  <% end %>
