<!--<table class="table-striped col-xs-12">
  <tr>
    <th><b>Name</b></th>
    <th><b>Customer Code</b></th>
    <th><b>Address 1</b></th>
    <th><b>Address 2</b></th>
    <th><b>City</b></th>
    <th><b>State</b></th>
    <th><b>Zip Code</b></th>
    <th><b>More Info?</b></th>
    <th>
  </tr>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.customercode %></td>
    <td><%= customer.address %></td>
    <td><%= customer.addressdetails %></td>
    <td><%= customer.city %></td>
    <td><%= customer.state %></td>
    <td><%= customer.zipcode %></td>
    <td><%= link_to 'More Info', customer_path(customer), class: 'btn btn-primary btn-md' %></td>

  </tr>
  <% end %>
  </table>
-->

<%= react_component 'Customers', {customers: @customers.as_json(only: [:id, :name, :customercode, :address, :addressdetails, :city, :state, :zipcode ]) } %>
