<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2><%= @customer.name %></h2>
  <table class="table">
    <tr class ="active">
      <td><b>Customer Code:</b> <%= @customer.customercode %></td>
      <td><b>Address 1:</b> <%= @customer.address %></td>
      <td><b>Address 2: </b><%= @customer.addressdetails %></td>
    </tr>
    <tr class ="default">
      <td><b>City: </b><%= @customer.city %></td>
      <td><b>State: </b><%= @customer.state %></td>
      <td><b>Zipcode: </b><%= @customer.zipcode%></td>
    </tr>
  </table>
  <div class="text-left">
    <%= link_to 'Add a New Part', new_customer_part_path(@customer), class: 'btn btn-success btn-md' %>
  </div>
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h3 class="text center">Parts</h3>

  <table class="table">
    <tr class="default">
      <th><b>Part Number</b></th>
      <th><b>Part Description</b></th>
      <th><b>Price</b></th>
      <th><b>Procedure </b></th>
      <th><b>Edit Part?</b></th>
    </tr>
    <% @customer.parts.each do |part| %>
    <tr class="default">
      <td><%= part.name %></td>
      <td><%= part.description %></td>
      <td><%= part.price %></td>
      <td><%= part.procedure.name %></td>
      <td><%= link_to 'Edit Part', edit_customer_part_path(@customer, part), class: 'btn btn-primary btn-md' %></td>
    </tr>
    <% end %>
  </table>




</div>
