<!--<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2><%= @customer.name %></h2>
  <table class="table">
    <tr class ="active">
      <td><b>Customer Code:</b> <%= @customer.customercode %></td>
      <td><b>Address 1:</b> <%= @customer.address %></td>
      <td><b>Address 2: </b><%= @customer.addressdetails %></td>
    </tr>
    <tr class ="default">
      <td><b>City: </b><%= @customer.city %></td>
      <td><b>State: </b><%= @customer.state %></td>
      <td><b>Zipcode: </b><%= @customer.zipcode%></td>
    </tr>
  </table>
-->
<%= react_component 'Customer', {customer: @customer.as_json(only: [:id, :name, :customercode, :address, :addressdetails, :city, :state, :zipcode]) } %>
